body {
  font-family: sans-serif;
  background: #f0f0f0;
  padding: 2rem;
}

#sim-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  user-select: none;
}

svg {
  width: 100%;
  height: auto;
}

.interactive:hover {
  cursor: pointer;
  stroke: #00f;
  stroke-width: 2;
}

.buttons {
  pointer-events: all;
}
